* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
@font-face {
    font-family: "Ubuntu-Bold";
    src: url("/static/fonts/Ubuntu-Bold.ttf");
}
.logo_letra{
    letter-spacing: 15px;
    font-size: 1.3rem;
    font-family: "Ubuntu-Bold"
}
.logo{
    width: 100px;
    height: 100px;
}
.logo-nav-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #776875;
}
body{

    background-color: #1d1d21;
}
header{
    background-color:#776875;
    height: 50px;
    color: #fff;
}
header h2{
    padding: 10px;
    font-family: "Ubuntu-Bold"
}

.form-register { 
    width: 400px;
    background-color: #442e44;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 6px; 
    font-family: 'calibri';
    color:#fff;
    box-shadow: 7px 7px 37px rgb(145, 124, 153);
}
.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Ubuntu-Bold"
}
.form-register input {
    margin-bottom: 20px;
    text-align: left;
    font-family: "Ubuntu-Bold"
}
.controls {
    width: 290px;
    background-color: rgb(255, 255, 255);
    padding: 4px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(124, 124, 124);
    font-family: 'calibri';
    font-size: 18px;
    
}


.form-register a {
    color: rgb(240, 221, 221);
    text-decoration: none;
    font-family: "Ubuntu-Bold"
}

.form-register a:hover {
    color: rgb(175, 86, 86);
    text-decoration: underline;
}
.btn {
    
    background-color: #776875 ;
    color: #fff;
    font-size: 16px;
    text-decoration:none;
    padding: 15px 20px;
    display: inline-block;
    margin:  6px;
    margin-left: auto;
    border-radius: 4px;
	float:none;
	text-align:center;

}