* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body {

    background-image: url('imagen.jpeg');
}
.form-register { 
    width:400px;
    background-color: #442e44;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 6px; 
    font-family: 'calibri';
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px rgb(145, 124, 153);
}
.form-register h4 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.controls {
    width: 290px;
    background-color: rgb(255, 255, 255);
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 7px;
    border: 1px solid rgb(124, 124, 124);
    font-family: 'calibri';
    font-size: 18px;
}

.form-register p {
    height: 50px;
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
}
.form-register a {
    color: rgb(240, 221, 221);
    text-decoration: none;
}

.form-register a:hover {
    color: rgb(68, 25, 25);
    text-decoration: underline;
}
.btn {
    
    background-color: #776875  ;
    color: black;
    font-size: 16px;
    text-decoration:none;
    padding: 15px 20px;
    display: inline-block;
    margin:  6px;
    margin-left: auto;
    border-radius: 4px;
    text-align: center;

}