<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style2.css')}}">
    <title>Editar Evento</title>
    <link rel="icon" href="/static/img/favicon.ico">
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
            <img src="/static/img/logo_transparent.png" alt="logo" class="logo"> 
            <label for="agendame" class="logo_letra">Agendame</label>     
            <nav class="navigation">
                <ul>             
                    <li><a href="{{url_for('calendario')}}" >Calendario</a></li>                    
                    <li><a href="{{url_for('notas')}}" >Notas</a></li>
                    <li><a href="{{url_for('eventos')}}" >Eventos</a></li>
                    <li><a href="{{url_for('logout')}}" >Cerrar Sesion</a></li>
                </ul>
            </nav>
        </div>
</header>
    <article class="container">
        <div class="caja2">
            <ul>
                <div>
                    <label for="menu">Menu</label>
                </div>
                <li><a href="{{url_for('agregar')}}">Nuevo evento</a></li>
                <li><a href="{{url_for('reciente')}}">Evento Reciente</a></li>
                <li><label for="">Filtrar por</label></li>
                <li><a href="{{url_for('irhoras')}}">Hora</a></li>
                <li><a href="{{url_for('irfechas')}}">Fecha</a></li>
                <li><a href="{{url_for('irlugar')}}">Lugar</a></li> 
                <li><a href="{{url_for('irdescripcion')}}">Descripcion</a> </li> 
            </ul>
        </div>
        <section class= "form-register">
            <h4>Editar Evento</h4>
            <center><form action="/update/{{evento.0}}" method="POST" class="form">
                <div>
                    <input class="controls" type="text" name="descripcion" value="{{evento.1}}"  placeholder="Descripcion: ">
                </div>
                <div>
                    <input class="controls" type="text" name="lugar" value="{{evento.4}}"  placeholder="Lugar: ">
                </div>
                <div>
                    <input class="controls" type="time" name="hora" value="{{evento.2}}" placeholder="Hora: "> 
                </div>
                <div>
                    <input class="controls" type="date" name="fecha" value="{{evento.3}}" placeholder="Fecha:">
                </div>
                <div>
                        <center><button type="submit" class="btn">
                            Editar Evento
                        </button></center>
                </div>
            </form>
        </center>
        </section>
    </article>
</body>
</html>
