<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style2.css')}}">
    <title>Filtrar Fecha</title>
    <link rel="icon" href="/static/img/favicon.ico">
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
            <img src="/static/img/logo_transparent.png" alt="logo" class="logo"> 
            <label for="agendame" class="logo_letra">Agendame</label>     
            <nav class="navigation">
                <ul>             
                    <li><a href="{{url_for('calendario')}}" >Calendario</a></li>
                    <li><a href="{{url_for('notas')}}" >Notas</a></li>
                    <li><a href="{{url_for('eventos')}}" >Eventos</a></li>
                    <li><a href="{{url_for('logout')}}" >Cerrar Sesion</a></li>
                </ul>
            </nav>
        </div>
</header>
<article class="container">
    <div class="caja2">
        <ul>
            <div>
                <label for="menu">Menu</label>
            </div>
            <li><a href="{{url_for('agregar')}}">Nuevo evento</a></li>
            <li><a href="{{url_for('reciente')}}">Evento Reciente</a></li>
            <li><label for="">Filtrar por</label></li>
            <li><a href="{{url_for('irhoras')}}">Hora</a></li>
            <li><a href="{{url_for('irfechas')}}">Fecha</a></li>
            <li><a href="{{url_for('irlugar')}}">Lugar</a></li> 
            <li><a href="{{url_for('irdescripcion')}}">Descripcion</a> </li> 
        </ul>
    </div>

        <div class="form-register block">
            <h4>Filtrar Fecha</h4>
            <form action="/fecha" method="POST" class="form">
                <div>
                    <input class="controls" type="date" name="fecha" placeholder="Fecha: ">
                </div>
                <div>
                    <button type="submit" class="btn">
                        Fliltar
                    </button>
                </div>
            </form>
        </div>
        <table class="margin table_filtro">
            <caption><h4>Eventos</h4></caption>
        {% for fecha in fechas %}
                    <thead>
                        <tr>
                            <td>
                                Descripcion
                            </td>
                            
                            <td>
                                Hora
                            </td>
                            
                            <td>
                                Fecha
                            </td>
                            
                            <td>
                                Lugar
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{fecha.1}}
                            </td>
                            <td>    
                                {{fecha.2}}
                            </td>
                            <td>
                                {{fecha.3}}
                            </td>
                            <td>
                                {{fecha.4}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
</article>
</div>
