<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendame</title>
</head>
<body>
    <header>
        <h2>Agendame</h2>
        <nav>
            <a href="{{url_for('home')}}">Eventos</a>
            <a href="">Notas</a>
            <a href="">Calendario</a>
        </nav>
        <form action="/logout">
        <button type="submit">
            Cerrar Sesion
        </button>
    </form>
    </header>
    <article>
        <section>
            <div>
                <label for="menu">Menu</label>
            </div>
            <div>
                <a href="{{url_for('agregar')}}">Agregar Evento</a>
            </div>

            <div>
                <a href="">Filtrar Por</a>
            </div>
            <div>
                <a href="">Hora</a>
            </div>
            <div>
                <a href="">Fecha</a>
            </div>
            <div>
                <a href="">Lugar</a>
            </div>
            <div>
                <a href="">Descripcion</a>
            </div>
        </section>
        <section>
            <div>
                <table>
                    <thead>
                        <tr>
                            <td>
                                Descripcion
                            </td>
                            <td>
                                Hora
                            </td>
                            <td>
                                Fecha
                            </td>
                            <td>
                                Lugar
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evento in eventos %}
                            <tr>
                                <td>
                                    {{evento.1}}
                                </td>
                                <td>    
                                    {{evento.2}}
                                </td>
                                <td>
                                    {{evento.3}}
                                </td>
                                <td>
                                    {{evento.4}}
                                </td>
                                <td>
                                    <a href="/edit/{{evento.0}}">Editar</a>
                                </td>
                                <td>
                                    <a href="/delete/{{evento.0}}">Borrar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </article>
</body>
</html>