<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>Iniciar Sesion</title>
    <link rel="icon" href="/static/img/favicon.ico">
    </head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
            <img src="/static/img/logo_transparent.png" alt="logo" class="logo"> 
            <label for="agendame" class="logo_letra">Agendame</label>     
        </div>
</header>
    <section class= "form-register">
        <h4>INICIAR SESION</h4>
        <form action="/login" method="POST">
            <center><input class="controls" type="email" name="correo" id="correo" placeholder="Correo electronico: "></center>
            <center><input class="controls" type="password" name="contraseña" id="contraseña" placeholder="Contraseña: "> </center>
        <div>
            <div>
                <center>
                    <button type="submit" class="btn">
                        Iniciar Sesion
                    </button>
                </center>
            </div>
        </form>
            <hr>
        </div>
        <div>
            <form action="/irRegistro" method="POST">
                <div>
                    <center>
                        <button type="submit" class="btn">
                            Crear Cuenta
                        </button>
                    </center>
                    
                </div>
            </form>
        </div>
    </section>
</html>