<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>Registro</title>
</head>
<body>
    <header>
        <h2>Agendame</h2>
    </header>
    <article>
        <section class= "form-register">
            <h4>REGISTRARSE</h4>
            <center><form action="registro" method="POST" class="form">
                <div>
                    <input class="controls" type="text" name="nombre"  placeholder="Nombres: "> 
                </div>
                <div>
                    <input class="controls" type="text" name="apellido"  placeholder="Apellidos:">
                </div>
                <div>
                    <input class="controls" type="text" name="edad"  placeholder="Edad: ">
                </div>
                <div>
                    <input class="controls" type="email" name="correo"  placeholder="Correo: ">
                </div>
                <div>
                    <input class="controls" type="password" name="contraseña"  placeholder="Contraseña: ">
                </div>
                <div>
                    <input class="controls" type="text" name="ocupacion"  placeholder="ocupacion: ">
                </div>
                <label> Estoy de acuerdo <a href="#"> Terminos y Condiciones</a></label>
                <div>
                        <center><button type="submit" class="btn">
                            Crear Cuenta
                        </button></center>
                    
                </div>
            </form>
        </center>
        </section>
    </article>
    
</body>
</html>